@use '../../../../styles/variables' as v;

.picturechange {
  &--picture {
    margin: auto;
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    text-align: center;
    padding: 0.5rem;
    border-radius: 50%;
  }

  &--field {
    display: block;
    margin: 0 auto 0.5rem;
  }

  &--label.mediafield--filefakeinput {
    text-transform: uppercase;
    color: v.$color-main-orange;
    font-weight: 700;
    text-decoration: underline;
    width: fit-content;
  }

  &--button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.5rem;
    max-width: 60%;
    margin: auto;
    font-size: 0.8em;
  }
}
