@use '../../styles/variables' as v;

.addfriendbutton {
  & button {
    background-color: inherit;
    border: none;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
