@font-face {
  font-family: 'Simpel';
  src: url('/src/assets/fonts/simpel/Simpel.otf');
}

@font-face {
  font-family: 'Honey Crepes';
  src: url('/src/assets/fonts/honey_crepes/Honey\ Crepes.otf');
}
