@use 'reset';
@use 'fonts';
@use 'variables' as v;

body {
  font-family: v.$font-simpel;
  background-color: v.$color-bg;
  padding: 0 1rem;
  width: 100vw;
  // TODO : sur téléphone réel il faut scroller pour voir le bas, pas top
  height: calc(100vh - (5rem));

  @media (min-width: 576px) {
    height: calc(100vh - (7rem));
  }
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
}

.button-orange-simple {
  background-color: v.$color-main-orange;
  color: v.$color-bg;
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  box-shadow: 5px 5px 10px 0px grey;

  &:active {
    background-color: v.$color-bg;
    color: v.$color-main-orange;
    box-shadow: inset 5px 5px 10px 0px grey;
  }
}

.form-full {
  background-color: v.$color-bg-form;
  border-radius: 1.5rem;
  padding: 1.5rem 1.5rem;
  box-shadow: 5px 5px 10px 0px grey;
  margin: 0 auto;
  text-align: center;

  & > * {
    margin-bottom: 1rem;
  }

  &__mandatoryfieldswarning {
    font-size: 0.8em;
    text-align: center;
  }
}

.volumebutton {
  border-radius: 0.5rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: v.$color-bg;
  box-shadow: 3px 3px 5px v.$color-bg-shadow,
    -4px -4px 6px v.$color-bg-highlight;
}
.volumebutton.active {
  box-shadow: inset 3px 3px 5px v.$color-bg-shadow,
    inset -4px -4px 6px v.$color-bg-highlight;
}

.errorMsg {
  color: red;
  margin-bottom: 0;
}

.productcards-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  margin: 1rem 2rem;
  list-style-type: none;

  @media (min-width: 576px) and (max-width: 950px) {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2vw;
    font-size: 0.9em;
  }
  @media (min-width: 950px) {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2vw;
    font-size: 1.5vw;
  }
  @media (min-width: 1150px) {
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 2vw;
    font-size: 1.5vw;
  }
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2rem;

  @media (min-width: 576px) {
    justify-content: center;

    &__button {
      margin: 0 1rem;
    }
  }
}

.mediafield {
  text-align: center;

  &--filefakeinput {
    width: 90%;
    display: inline-block;
    cursor: pointer;
  }
  &--fileinput {
    display: none;
  }
}

/* width */
::-webkit-scrollbar {
  height: 15px;
}
/* Track */
::-webkit-scrollbar-track {
  background: v.$color-bg;
  box-shadow: inset 3px 3px 5px v.$color-bg-shadow,
    inset -4px -4px 6px v.$color-bg-highlight;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: v.$color-bg-form;
  box-shadow: -4px -4px 6px v.$color-bg-highlight;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: v.$color-main-orange;
}
