.legalm {
  &-title {
    font-size: 2rem;
  }

  &-subtitle {
    margin: 0 0 0 0.5em;
  }

  &-content {
    margin: 0 0 1em;
  }

  &-container {
    text-align: justify;
  }

  &-articles {
    margin: 1rem 0;
  }
}

h3 {
  margin: 0 0 0 1.5em;
}
