@use '../../styles/variables' as v;

.profilsettings {
  max-width: 90vw;
  margin: auto;

  &__all {
    margin-top: 0.5rem;

    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;

      &--butpassword {
        display: flex;
        flex-direction: row;
        margin-bottom: 1.5rem;

        &--andappaerance {
          display: flex;
          flex-direction: column;
          margin-right: 1.5rem;
          justify-content: space-between;
          width: calc(40% - 1.5rem / 2);
        }
      }
    }
  }
}
