@use '../../../styles/variables' as v;

.passwordchange {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;

  @media (min-width: 768px) {
    margin-top: 0;
  }

  &__fields {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
    }
  }
}
