@use '../../styles/variables' as v;

.footer {
  text-align: center;
  font-size: 0.8rem;
  padding: 0.5em 0;

  &__unlogged {
    margin-bottom: 0;
  }

  @media (min-width: 576px) {
    margin-bottom: 0;
  }

  &__links {
    display: flex;
    justify-content: center;
  }

  & .link {
    font-size: min(3vw, 1em);
    padding: 0 min(2vw, 1em);
    margin: 0.5em 0;
  }

  &__credit {
    // TODO : Réduire la taille de text et la margin des span en fonction de la largeur de l'écran ?
    font-size: 0.7em;
    width: 100%;
    font-style: italic;

    @media (max-width: 349px) {
      font-size: 0.5em;
    }

    & span {
      margin: 0 0.4em;
    }

    &__intro {
      display: block;
      @media (min-width: 576px) {
        display: inline;
      }
    }
  }
}
