@use '../../../../styles/variables' as v;

.colorchange {
  margin-top: 3rem;

  @media (min-width: 576px) {
    position: relative;
  }
  &__visual {
    width: 50%;
    max-width: 10rem;
    margin: auto;

    @media (min-width: 576px) {
      width: 25%;
    }
  }

  &__selector {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    & p {
      max-width: 60%;
      margin: auto;
    }

    &--icon {
      margin: auto;
    }

    &--input {
      &--field {
        opacity: 0;
      }
      &--box {
        margin: auto;
        border-radius: 0.5rem;
        width: 4rem;
        height: 4rem;
        box-shadow: 3px 3px 5px v.$color-bg-shadow,
          -4px -4px 6px v.$color-bg-highlight;
      }
      &--button {
        margin: 0.5rem 0;

        @media (min-width: 576px) {
          margin: 0;
          font-size: 0.8em;
          position: absolute;
          bottom: -2.5em;
          right: 51%;
          width: 16em;
        }

        &--back {
          font-size: 0.8em;

          @media (min-width: 576px) {
            position: absolute;
            bottom: -4em;
            left: 51%;
            width: 16em;
          }
        }
      }
    }
  }
}
